configuracao_leitura_opc.json
[{"id":"a98d801e.19079","type":"OPCUA-IIoT-Inject","z":"ffcd27c6.342858","injectType":"read","payload":"","payloadType":"date","topic":"","repeat":"1","crontab":"","once":false,"startDelay":"","name":"Atualizado Variavel","addressSpaceItems":[{"name":"sgsdg","nodeId":"ns=5;s=Sinusoid1","datatypeName":""}],"x":1660,"y":80,"wires":[["1ea08f3a.69d381"]]},{"id":"1ea08f3a.69d381","type":"OPCUA-IIoT-Read","z":"ffcd27c6.342858","attributeId":"13","maxAge":1,"depth":1,"connector":"3c810e40.6e6f92","name":"Le Valores","justValue":true,"showStatusActivities":false,"showErrors":false,"parseStrings":false,"historyDays":"","x":1630,"y":160,"wires":[["1fa77d28.26b433"]]},{"id":"1fa77d28.26b433","type":"OPCUA-IIoT-Response","z":"ffcd27c6.342858","name":"Aguarda Resposta","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1660,"y":240,"wires":[["edd9bcb5.43b89","ad214e28.ea73e"]]},{"id":"edd9bcb5.43b89","type":"debug","z":"ffcd27c6.342858","name":"Valor Lido","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0].value","x":1900,"y":240,"wires":[]},{"id":"8aa1cf8e.abff6","type":"ui_chart","z":"ffcd27c6.342858","name":"","group":"95712fe3.9dbe2","order":0,"width":"6","height":"4","label":"Sinusoid","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"-2.5","ymax":"2.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1900,"y":320,"wires":[[],[]]},{"id":"ad214e28.ea73e","type":"change","z":"ffcd27c6.342858","name":"Convete Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":320,"wires":[["8aa1cf8e.abff6"]]},{"id":"3c810e40.6e6f92","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://192.168.50.130:53530/OPCUA/SimulationServer","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL-PRO-SYS","showErrors":false,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"95712fe3.9dbe2","type":"ui_group","z":"","name":"Default","tab":"29344c99.58aad4","disp":true,"width":"6","collapse":false},{"id":"29344c99.58aad4","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]